#dialogoverlay {
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #444;
    width: 100%;
    z-index: 10;
}
#dialogbox {
    display: none;
    position: fixed;
    background: #5b135e;
    border-radius:7px;
    width:550px;
    z-index: 10;
}
#dialogbox > div {
    background:#FFF;
    margin:8px;
}
#dialogbox > div > #dialogboxhead {
    background: #5b135e;
    font-size:19px;
    padding:10px;
    color:#CCC;
}
#dialogbox > div > #dialogboxbody {
    background:#5b135e;
    padding:20px;
    color:#FFF;
}
#dialogbox > div > #dialogboxfoot {
    background: #5b135e;
    padding:10px;
    text-align:right;
}
